<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastrar Empréstimo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div >
    <h1 >Cadastre um novo empréstimo</h1>
    
    <form (submit)="salvarEmprestimo()">
      <ion-list >
        
        <!-- Campo Livro (Select) -->
        <ion-item  lines="none">
          <ion-label position="floating" color="medium">Livro</ion-label>
          <ion-select [(ngModel)]="emprestimo.livro" name="livro" placeholder="Selecione um livro" interface="popover">
            <ion-select-option *ngFor="let livro of listaLivros" [value]="livro.id">
              {{ livro.titulo }} 
            </ion-select-option>
          </ion-select>
        </ion-item>

       

        <ion-item class="mb-6 rounded-lg shadow-sm" lines="none">
          <ion-label position="floating" color="medium">Data de devolução prevista (AAAA-MM-DD)</ion-label>
          <ion-input type="date" [(ngModel)]="emprestimo.data_devolucao_prevista" name="data_devolucao_prevista"></ion-input>
        </ion-item>

      </ion-list>
      
      <ion-button expand="block" type="submit"  color="primary">
        Pegar Emprestado
      </ion-button>
    </form>
  </div>
</ion-content>
