{% extends base_html %}
{% load static %}
{% block titulo %} Livros disponiveis {% endblock %}


{% block conteudo %}

<a href="{% url 'criar-emprestimos' %}" class="btn btn-primary">Pegar emprestado</a>
{{ livros|length }} livro(s)

<ul class="list-group">
    {% for livro in livros %}
    <li class="list-group-item">
        <div class="vehicle-card">
    {% if livro.foto %}
        <img src="{{ livro.foto.url }}" class="card-img-top vehicle-image" alt="{{ livro.titulo }}">
    {% else %}
        <div class="vehicle-image-placeholder">Sem foto</div>
    {% endif %}
    <div class="vehicle-info">
        <div class="brand-model">
            <div class="brand">{{ livro.titulo }}</div>
            <div class="model">{{ livro.get_autor_display }}</div>
            <div class="model">Dono: {{ livro.usuario.username }}</div>
        </div>
        <div class="details">
            <div class="row">Ano: {{ livro.ano }}</div>
            <div class="row">Número de páginas: {{ livro.numero_de_paginas }}</div>
            <div class="row">Disponivel: {{ livro.disponivel }}</div>
        </div>
    </div>
</div>

    </li>
    {% endfor %}
</ul>

{% endblock %}

