<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
   </ion-buttons>
    <ion-title>Lista de Livros</ion-title>
    <ion-text slot="end" class="ion-margin-end">
      <h3>{{usuario.nome}}</h3>
    </ion-text>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Desenvolvimento webmobile</ion-card-title>
      <ion-card-subtitle>Aplicativo Livros</ion-card-subtitle>
    </ion-card-header>

    <ion-button expand="block" (click)="irEmprestimo()" >Pegar livro emprestado</ion-button>

    <ion-card-content>
      <ion-list>
        <ion-item-sliding *ngFor="let livro of lista_livros">
          <ion-item>
            <ion-thumbnail slot="start">
              <img *ngIf="livro.foto" [src]="livro.foto" />
              <img *ngIf="!livro.foto" src="../../assets/imgs/download2 (3).jpeg" />
            </ion-thumbnail>
            <ion-label>
              {{livro.titulo}}, {{livro.nome_autor}} 
            </ion-label>
            <ion-label slot="end" color="primary">
              {{livro.ano}}
            </ion-label>
          </ion-item>
          <ion-item-options>
            <ion-item-option color="danger" (click)="excluirLivro(livro.id)">
              Excluir
            </ion-item-option>
            <ion-item-option color="primary" (click)="irEditar(livro.id)">
              editar
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>        
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="irCriarLivro()" >adicionar livro</ion-button>

</ion-content>
